.LoginContainer-active{
    position: absolute;
    display: inline-block;
    top:0px;
    width: 100%;
    text-align: center;
    animation : fallDown 0.4s linear; 
}
.LoginContainer-inactive{
    position: absolute;
    display: inline-block;
    top:0px;
    width: 100%;
    text-align: center;
    animation: goUp 0.4s linear;
}
@keyframes fallDown{
    0%{
        top:-450px;
    }
    50%{
        top:-225px;
    }
    100%{
        top:0px;
    }
}
@keyframes goUp{
    0%{
        top:0px;
    }
    50%{
        top:-325px;
    }
    100%{
        top:-550px;
    }
}
#LoginDiv{
    background: #e2e2e2;
    z-index:0;
    display: inline-block;
    width: 40%;
    
    position: relative;
    text-align: center;
    box-shadow:13px 13px 13px grey;
}
#LoginForm{
    z-index:1;
    display: inline-block;
    position: relative;
    height:350px;
    

}
#LoginLogo{
    position: relative;
    top:10px;
    width:100px;
    height:100px;
}

#Username{
    padding: 10px;
    width:200px;
    background: transparent;
    color:black;
    border: 0.5px solid black;
    top:20px;
    position: relative;
    border-radius: 5px;
}
#password{
    padding: 10px;
    width:200px;
    background: transparent;
    color:black;
    border: 0.5px solid black;
    top:40px;
    position: relative;
    border-radius: 5px;

}
#LoginButton{
    position: relative;
    border: 1px solid black;
    background: black;
    color:white;
    padding: 10px;
    width:200px;
    top:60px;
    border-radius: 5px;

}
#SignupButton{
    position: relative;
    border: 1px solid black;
    background: black;
    color:white;
    width:200px;
    top:80px;
    border-radius: 5px;
    padding: 10px;

}
#LoginCloseDiv{
    position: relative;
    width: 40%;
    display: inline-block;
    top: 20px;
    z-index: 1; 
}

#LoginClose{
   
    position: relative;
    float: left;
    top: 15px;
    left: 10px;
    border: 0.5px solid black;
    background: transparent;
    border-radius: 40%;
    padding: 7px;

}