@import url('https://fonts.googleapis.com/css?family=Do+Hyeon');

*{
    box-sizing: border-box;
}
body{
    background: #FFFFFF;
    font-family : 'Do Hyeon';
}
button{
    font-family: 'Do Hyeon';
}
.Navbar{
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
}
.ComponentDisplay{
    position:relative;
    top:100px;
}
ul{
border: 1px solid grey;
box-shadow: 3px 3px 3px grey;
background: black;
color: white;
position: absolute;
top: 0;
left: 0;
margin:0;
text-decoration: none;
padding:10px;
width:100%;
}
ul li{
    display: inline;
    margin-left:10px;
    list-style-type: none
}
a{
    text-decoration: none;
    color:white;
}
#LoginLi{
    float:right;
}
#SignupLi{
    float:right;
}
#StarLi{
    float:right;
    position: relative;
    top:0px;
}
